.nav {
    padding: 1.5rem 4rem;
    width: 100%;
    @include flexs(center, space-between, 0rem);
    .umwezi {
      width: 12rem;
  
      img {
        width: 100%;
      }
    }
    &-links {
      list-style-type: none;
  
      @include flexs(center, space-between, 1.5rem);
      &_link {
        text-decoration: none;
  
        font-size: $fontSize-sm;
      }
    }
  }
  .category {
    padding: 1rem;
    background-color: $secondary-color;
    &-links {
      @include flexs(center, center, 3rem);
      &--link {
        color: $text-white-d-color;
        font-size: $fontSize-sm;
        text-decoration: none;
      }
    }
  }